body {
    background-color: rgba(0, 0, 0, .8);
    color: white;
}

h1, h2{
    text-align: center;
    text-decoration: underline;
}

img {
    width: 500px;
    height: auto;
}

a {
    color: white;
}